<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Trading Card Game Application Homepage</title>
    <link rel="stylesheet" href="homepage.css" />
</head>
<body>
    <h1>Welcome to this Trading Card Game Scanner and Price Tracker!</h1>
    <p>The objective of this website is for you, the user, to scan your trading cards
    using your webcam on your device, and then see the pricing information of those
    cards using available data.</p>
</body>
</html>
